<div class="container" style="height: 400px;">
    <div class="row">
        <div class="col-sm-6">
            <h1 style="margin: 0">Register</h1>
            <form>
                <div class="row">
                    <div class="col-sm-4"><b>Name:</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><input type="text" name="name"  /></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><b>Email:</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><input type="email" name="email"  /></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><b>Password:</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><input type="password" name="password" /></div>
                </div><br/>
                <div class="row">
                    <div class="col-sm-1"> <button type="button" (click)="register()" class="btn btn-success">Register</button></div>
                </div><br/>
                <div class="row">
                    <div style="color: #2874f0;font-weight: 500; cursor: pointer;"> <a (click)="login()">Already have an account? Click here to login</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
