<div class="container" style="height: 400px; margin-top: 100px;">
    <div class="row">
        <div class="col-sm-4"><b>Founed by:</b></div>
        <div class="col-sm-4">Suman kumar</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><b>Founded in:</b></div>
        <div class="col-sm-4">2018</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><b>Website:</b></div>
        <div class="col-sm-4">
            <a href="https://emakhana.000webhostapp.com/emakhana/" target="_blank">View website</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"><b>Industry:</b></div>
        <div class="col-sm-4">Supply chain</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><b>Company size:</b></div>
        <div class="col-sm-4">10 employees</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><b>Headquater:</b></div>
        <div class="col-sm-4">J.P Chowk Darbhanga, Bihar, India</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><b>About company:</b></div>
        <div class="col-sm-4">This company supply makhana to distibutors with different verity of makhana</div>
    </div>
</div>
