<div class="container" style="height: 400px; margin-top: 100px;">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Search a product" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    
    <div class="row">
        <div class="col-sm-4">
            <img height="100px; width:100px;" src="assets/makhana/M700.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
            <h5 class="card-title">₹ 700</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" (click)="addToCartClick('700', 'assets/makhana/M700.jpg')" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
        <div class="col-sm-4">
            <img height="100px; width:100px;" src="assets/makhana/M600.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
            <h5 class="card-title">₹ 600</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" (click)="addToCartClick('600', 'assets/makhana/M600.jpg')" class="btn btn-success">Add to Cart</button>
            </div>
        </div>
        <div class="col-sm-4">
            <img height="100px; width:100px;" src="assets/makhana/M500.jfif" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
            <h5 class="card-title">₹ 500</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" (click)="addToCartClick('500', 'assets/makhana/M500.jfif')"  class="btn btn-success">Add to Cart</button>
            </div>
          </div>
      </div>
</div>